In [2]:
# Import libraries
import pandas as pd
import hvplot.pandas
from pathlib import Path

In [18]:
# Read in Close price data
close_df = pd.read_csv('close_df.csv')
close_df.head()

,Date,AGT,ARGT,BRF,BRZU,BZQ,ECH,EMB,EPU,ESEB,...,VYM,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
0,2009-05-22,NaN,NaN,33700,NaN,NaN,46200,383800,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-05-26,NaN,NaN,29400,NaN,NaN,144700,24700,NaN,NaN,...,72700.0,NaN,26906900.0,185271100.0,16082300.0,5743400.0,5478700.0,7123400.0,4412900.0,11048600.0
2,2009-05-27,NaN,NaN,115000,NaN,NaN,110300,59500,NaN,NaN,...,56500.0,NaN,20871300.0,211276200.0,10835700.0,7714900.0,6976400.0,5936900.0,4591100.0,7775100.0
3,2009-05-28,NaN,NaN,107300,NaN,NaN,101500,32500,NaN,NaN,...,81100.0,NaN,25906900.0,228614300.0,10851400.0,6177900.0,7246000.0,6475000.0,5720000.0,5382100.0
4,2009-05-29,NaN,NaN,116900,NaN,NaN,76800,40100,NaN,NaN,...,46400.0,NaN,22238700.0,231964200.0,10999600.0,5396800.0,6894700.0,5180300.0,6549200.0,4351000.0

In [19]:
# Make date as the reference:
close_df = close_df.set_index(close_df["Date"]).drop(columns=["Date"])
close_df.head()

,AGT,ARGT,BRF,BRZU,BZQ,ECH,EMB,EPU,ESEB,EWW,...,VYM,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,,,,,,,,,,,,,
2009-05-22,NaN,NaN,33700,NaN,NaN,46200,383800,NaN,NaN,1612500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-05-26,NaN,NaN,29400,NaN,NaN,144700,24700,NaN,NaN,3093000,...,72700.0,NaN,26906900.0,185271100.0,16082300.0,5743400.0,5478700.0,7123400.0,4412900.0,11048600.0
2009-05-27,NaN,NaN,115000,NaN,NaN,110300,59500,NaN,NaN,3902400,...,56500.0,NaN,20871300.0,211276200.0,10835700.0,7714900.0,6976400.0,5936900.0,4591100.0,7775100.0
2009-05-28,NaN,NaN,107300,NaN,NaN,101500,32500,NaN,NaN,4151200,...,81100.0,NaN,25906900.0,228614300.0,10851400.0,6177900.0,7246000.0,6475000.0,5720000.0,5382100.0
2009-05-29,NaN,NaN,116900,NaN,NaN,76800,40100,NaN,NaN,4034800,...,46400.0,NaN,22238700.0,231964200.0,10999600.0,5396800.0,6894700.0,5180300.0,6549200.0,4351000.0

In [20]:
# compute daily returns
daily_returns_df = close_df.pct_change()

In [21]:
daily_returns_df.head()

,AGT,ARGT,BRF,BRZU,BZQ,ECH,EMB,EPU,ESEB,EWW,...,VYM,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,,,,,,,,,,,,,
2009-05-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-05-26,NaN,NaN,-0.127596,NaN,NaN,2.132035,-0.935644,NaN,NaN,0.918140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-05-27,NaN,NaN,2.911565,NaN,NaN,-0.237733,1.408907,NaN,NaN,0.261688,...,-0.222834,NaN,-0.224314,0.140362,-0.326234,0.343264,0.273368,-0.166564,0.040382,-0.296282
2009-05-28,NaN,NaN,-0.066957,NaN,NaN,-0.079782,-0.453782,NaN,NaN,0.063756,...,0.435398,NaN,0.241269,0.082064,0.001449,-0.199225,0.038645,0.090637,0.245889,-0.307777
2009-05-29,NaN,NaN,0.089469,NaN,NaN,-0.243350,0.233846,NaN,NaN,-0.028040,...,-0.427867,NaN,-0.141592,0.014653,0.013657,-0.126435,-0.048482,-0.199954,0.144965,-0.191579

In [23]:
daily_returns_df.describe()

,AGT,ARGT,BRF,BRZU,BZQ,ECH,EMB,EPU,ESEB,EWW,...,VYM,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
count,1023.000000,2563.000000,3020.000000,2039.000000,3000.000000,3020.000000,3020.000000,3000.000000,308.000000,3020.000000,...,3019.000000,736.000000,3019.000000,3019.000000,3019.000000,3019.000000,3019.000000,3019.000000,3019.000000,3019.000000
mean,inf,inf,0.525129,inf,inf,0.283440,0.207381,1.247604,inf,0.093940,...,0.109509,0.220101,0.058207,0.074988,0.077271,0.098403,0.117809,0.086855,0.089024,0.098058
std,NaN,NaN,2.586447,NaN,NaN,1.145851,1.015536,11.977989,NaN,0.498867,...,0.579821,1.033797,0.373467,0.444561,0.449504,0.535035,0.652295,0.484329,0.493821,0.545118
min,-1.000000,-1.000000,-0.977419,-1.000000,-1.000000,-0.938111,-0.943536,-0.989041,-1.000000,-0.833097,...,-0.864117,-0.958559,-0.785492,-0.749988,-0.848497,-0.838562,-0.833399,-0.795213,-0.884218,-0.799123
25%,-0.717143,-0.548690,-0.406754,-0.292354,-0.361473,-0.355690,-0.298159,-0.466845,-0.702522,-0.238193,...,-0.222629,-0.290311,-0.192353,-0.225564,-0.227069,-0.235303,-0.248028,-0.223498,-0.234070,-0.238505
50%,0.000000,0.011662,-0.011632,-0.015187,-0.013485,-0.014324,-0.007047,-0.011612,0.000000,-0.007395,...,-0.003043,0.004350,-0.008123,-0.008994,0.002307,-0.009373,-0.015451,-0.013639,-0.015077,-0.005436
75%,2.123340,1.238115,0.683071,0.415285,0.525514,0.532823,0.418936,0.841320,2.000000,0.292749,...,0.272480,0.418667,0.236544,0.265372,0.272813,0.295277,0.301423,0.289671,0.272355,0.298961
max,inf,inf,92.000000,inf,inf,18.865922,16.724444,394.000000,inf,3.440560,...,6.025846,12.826997,2.686140,3.610341,3.757671,6.154826,11.148357,3.820138,5.956889,7.355433