In [1]:
'''
Extracting the Ticker Data for USA ETFs (top 100) as test dataset for analytical techniques coding.
The dataframe are named in this format: 'hist_countryname_number'
and the datasets show by day: 'Close Price, 'Dividends', 'Volume', for the past 12 years.  Suggest we use data from 1-Jan-2010 as a clean arbitary date.
'''

'Extracting the Ticker Data for USA ETFs (top 100) as test dataset for analytical techniques coding.'

In [2]:
# Importing the top 100 US ETFs

In [3]:
import yfinance as yf
tickers_US_1 = yf.Tickers('SPY IVV VTI VOO QQQ VEA IEFA AGG VTV IEMG VWO BND VUG IJR IWM IJH IWF GLD VIG EFA')
tickers_US_2 = yf.Tickers('IWD VO VXUS VB VCIT XLF VGT BNDX LQD VCSH XLK VNQ ITOT VYM VEU BSV IVW EEM DIA SCHX')
tickers_US_3 = yf.Tickers('IAU USMV IXUS IWR IWB RSP TIP XLV SCHF MBB IGSB XLE SCHD VBR VV IVE MDY MUB HYG XLI')
tickers_US_4 = yf.Tickers('VT SCHB QUAL SDY XLY ARKK EMB SHY DVY PFF DGRO VGK ESGU SCHP IWN JPST ACWI GOVT VLUE VXF')
tickers_US_5 = yf.Tickers('GDX SLV SCHA SHV VBK VMBS SCZ MINT IWP VHT VOE BIV IWS SCHG EFV MTUM VTIP XLC IEF IUSB')

In [5]:
hist_US_1 = tickers_US_1.history(period="12y")
hist_US_2 = tickers_US_2.history(period="12y")
hist_US_3 = tickers_US_3.history(period="12y")
hist_US_4 = tickers_US_4.history(period="12y")

[*********************100%***********************]  20 of 20 completed
[*********************100%***********************]  20 of 20 completed
[*********************100%***********************]  20 of 20 completed
[*********************100%***********************]  20 of 20 completed

In [6]:
hist_US_1[['Close','Dividends','Volume']]

                 Close                                               \
                   AGG        BND        EFA         GLD       IEFA
Date
2009-05-22   73.316681  54.601673  32.314087   94.150002        NaN
2009-05-26   73.150917  54.488773  32.959789   93.760002        NaN
2009-05-27   72.747200  54.164051  32.321098   93.449997        NaN
2009-05-28   72.776031  54.305180  32.650974   94.239998        NaN
2009-05-29   73.554611  54.693489  33.303711   96.199997        NaN
...                ...        ...        ...         ...        ...
2021-05-17  114.199997  84.980003  79.410004  174.699997  75.389999
2021-05-18  114.059998  84.889999  79.580002  175.039993  75.620003
2021-05-19  113.900002  84.800003  78.879997  175.160004  74.910004
2021-05-20  114.290001  85.080002  79.919998  175.960007  75.970001
2021-05-21  114.339996  85.099998  80.029999  176.039993  76.050003

                                                                       ...  \
                 IEMG         IJH         IJR         IVV         IWF  ...
Date                                                                   ...
2009-05-22        NaN   46.191010   17.832359   70.413101   33.387230  ...
2009-05-26        NaN   47.971790   18.741253   72.291458   34.198635  ...
2009-05-27        NaN   47.182201   18.340151   70.941887   33.745964  ...
2009-05-28        NaN   47.560196   18.344416   71.920509   34.147400  ...
2009-05-29        NaN   48.442184   18.677252   73.246384   34.719658  ...
...               ...         ...         ...         ...         ...  ...
2021-05-17  64.110001  271.429993  111.510002  417.170013  250.250000  ...
2021-05-18  64.989998  268.589996  110.410004  413.579987  248.850006  ...
2021-05-19  64.800003  266.799988  109.690002  412.459991  248.820007  ...
2021-05-20  65.169998  268.049988  109.919998  416.820007  253.059998  ...
2021-05-21  64.480003  268.459991  110.449997  416.579987  251.869995  ...

              Volume                                                      \
                 IWM        QQQ        SPY       VEA      VIG        VOO
Date
2009-05-22  38440200   83510600  166811900    460900   125700        NaN
2009-05-26  73480700  144857200  236318500    543200   173500        NaN
2009-05-27  48207700  121348800  246015800   2082700   221800        NaN
2009-05-28  58832400  118931300  289095000    815400   232000        NaN
2009-05-29  51665800  111535700  258641500    596500   179500        NaN
...              ...        ...        ...       ...      ...        ...
2021-05-17  20048500   39395000   65129200   7209900  1588900  3781600.0
2021-05-18  24564500   36528500   59810200   6291400  1464800  3128300.0
2021-05-19  31202800   66319100  106467100   9117900  2095000  5086300.0
2021-05-20  24932800   46466100   78022200  10651300  1259900  4776700.0
2021-05-21  24200200   50284700   76519100   6317300   994800  3565200.0


                VTI      VTV      VUG       VWO
Date
2009-05-22  1559500   534700   567100   5038500
2009-05-26  2225400   388300   508700   6416300
2009-05-27  2778800   316900   504800   7637900
2009-05-28  2831800   466300   546300   5705500
2009-05-29  2629300   603100   461100  12123300
...             ...      ...      ...       ...
2021-05-17  4063200  3873400   678100   7666700
2021-05-18  3173100  2720400   639100   7707900
2021-05-19  6015000  3394000   752100  10025800
2021-05-20  3478300  2609300   664300   7164800
2021-05-21  3621300  2600200  1072600   6525600

[3021 rows x 60 columns]

In [7]:
hist_US_2[['Close','Dividends','Volume']]

                Close                                                          \
                 BNDX        BSV         DIA        EEM       ITOT        IVW
Date
2009-05-22        NaN  63.518551   62.783504  24.942884  15.752779   9.614894
2009-05-26        NaN  63.438301   64.283524  25.241413  16.160143   9.855636
2009-05-27        NaN  63.366074   63.003242  24.950739  15.907023   9.707000
2009-05-28        NaN  63.414196   63.654739  25.720627  16.120594   9.840973
2009-05-29        NaN  63.606831   64.692665  26.113438  16.346033   9.985419
...               ...        ...         ...        ...        ...        ...
2021-05-17  56.630001  82.300003  343.649994  52.900002  95.300003  67.540001
2021-05-18  56.630001  82.320000  341.109985  53.610001  94.629997  67.000000
2021-05-19  56.570000  82.279999  339.440002  53.450001  94.349998  67.029999
2021-05-20  56.669998  82.339996  341.519989  53.759998  95.360001  68.089996
2021-05-21  56.730000  82.339996  342.040009  53.139999  95.320000  67.779999

                                                            ...     Volume  \
                   IWD         LQD        SCHX          VB  ...       VCIT
Date                                                        ...
2009-05-22   35.102749   62.302063         NaN   36.410240  ...        NaN
2009-05-26   35.950966   62.276356         NaN   37.890526  ...        NaN
2009-05-27   35.223919   61.845470         NaN   37.175610  ...        NaN
2009-05-28   35.814648   62.077015         NaN   37.318607  ...        NaN
2009-05-29   36.420532   62.990189         NaN   38.597038  ...        NaN
...                ...         ...         ...         ...  ...        ...
2021-05-17  160.580002  130.899994  100.400002  219.389999  ...  1823800.0
2021-05-18  159.110001  130.470001   99.650002  217.729996  ...  1507400.0
2021-05-19  158.179993  130.240005   99.360001  216.270004  ...  2131300.0
2021-05-20  159.029999  131.130005  100.489998  217.589996  ...  1506000.0
2021-05-21  159.610001  131.220001  100.410004  217.860001  ...  1642200.0

                                                                             \
                 VCSH      VEU     VGT      VNQ      VO       VXUS      VYM
Date
2009-05-22        NaN   607700  116100  1669600  235000        NaN    56900
2009-05-26        NaN   652900  102300  2517200  253800        NaN    72700
2009-05-27        NaN   623000  223900  2539800  319800        NaN    56500
2009-05-28        NaN   662500  125400  2397500  387400        NaN    81100
2009-05-29        NaN   942100  233500  1692900  267700        NaN    46400
...               ...      ...     ...      ...     ...        ...      ...
2021-05-17  1735700.0  1492800  335700  3320200  487000  3178300.0  1301300
2021-05-18  2003900.0  1312100  392700  3359800  386500  2372400.0  1234000
2021-05-19  2429500.0  3220100  336000  3602500  619600  3319400.0  2387800
2021-05-20  2136200.0  2306500  312300  2466500  408500  3936700.0  1227600
2021-05-21  1859100.0  3079300  272200  3018000  341100  2816100.0  1423200


                  XLF       XLK
Date
2009-05-22  118089215   5434700
2009-05-26  185271163   5743400
2009-05-27  211276284   7714900
2009-05-28  228614303   6177900
2009-05-29  231964224   5396800
...               ...       ...
2021-05-17   40376700   8133600
2021-05-18   40299200   5868600
2021-05-19   63573900  15290600
2021-05-20   59211100   8412200
2021-05-21   44950309   6977566

[3021 rows x 60 columns]

In [8]:
hist_US_3[['Close','Dividends','Volume']]

                Close                                                \
                  HYG        IAU       IGSB         IVE         IWB
Date
2009-05-22  37.067589   9.413000  40.616043   32.156464   38.905270
2009-05-26  36.971363   9.373000  40.576366   32.984081   39.952225
2009-05-27  37.038708   9.348000  40.746956   32.254257   39.248920
2009-05-28  37.168606   9.426000  40.893753   32.720741   39.784382
2009-05-29  37.447617   9.628000  40.782642   33.300064   40.455715
...               ...        ...        ...         ...         ...
2021-05-17  87.050003  17.780001  54.810001  149.720001  233.910004
2021-05-18  86.839996  17.799999  54.799999  148.440002  232.100006
2021-05-19  86.610001  17.820000  54.759998  147.500000  231.320007
2021-05-20  86.980003  17.900000  54.860001  148.270004  234.039993
2021-05-21  87.110001  17.920000  54.860001  148.800003  233.789993

                                                                      ...  \
                  IWR       IXUS         MBB         MDY         MUB  ...
Date                                                                  ...
2009-05-22  12.861188        NaN   76.841927   86.309212   74.107414  ...
2009-05-26  13.233828        NaN   76.754799   89.677155   73.977318  ...
2009-05-27  13.067067        NaN   76.094322   88.298958   73.630440  ...
2009-05-28  13.217353        NaN   76.014503   88.703796   73.298050  ...
2009-05-29  13.433524        NaN   76.428185   90.159531   73.298050  ...
...               ...        ...         ...         ...         ...  ...
2021-05-17  76.970001  72.650002  108.260002  495.720001  116.669998  ...
2021-05-18  76.459999  73.070000  108.300003  490.540009  116.699997  ...
2021-05-19  76.070000  72.559998  108.190002  487.410004  116.540001  ...
2021-05-20  76.930000  73.370003  108.300003  489.649994  116.660004  ...
2021-05-21  77.019997  73.129997  108.379997  490.450012  116.690002  ...

             Volume                                                    \
                RSP       SCHD       SCHF      TIP       USMV     VBR
Date
2009-05-22   978600        NaN        NaN   898700        NaN  176700
2009-05-26  1517300        NaN        NaN   924700        NaN  391100
2009-05-27   995100        NaN        NaN  1646500        NaN  210200
2009-05-28   872500        NaN        NaN  1202500        NaN  309700
2009-05-29  2313400        NaN        NaN  1078300        NaN  144900
...             ...        ...        ...      ...        ...     ...
2021-05-17  3319500  1719400.0  2384100.0  2225000  2782100.0  350600
2021-05-18  2383100  1837600.0  1697300.0  2486300  2436300.0  358300
2021-05-19  3919400  2432000.0  2878200.0  3527000  3971100.0  436900
2021-05-20  2460200  1727700.0  2213300.0  2583000  2623400.0  382600
2021-05-21  2968500  1801300.0  1349400.0  2021100  2514800.0  304100


                 VV       XLE       XLI       XLV
Date
2009-05-22   369700  13646000   8858200   3655700
2009-05-26   642600  26906900  16082300   4412900
2009-05-27   793500  20871300  10835700   4591100
2009-05-28  1360100  25906900  10851400   5720000
2009-05-29   418100  22238700  10999600   6549200
...             ...       ...       ...       ...
2021-05-17   183800  33702100  11547700   5997700
2021-05-18   310200  35217700  11195500   9202000
2021-05-19   233100  43984800  16656400  10063000
2021-05-20   173500  28237200  11635300   7522700
2021-05-21   172400  25269890  13388245   8417961

[3021 rows x 60 columns]

In [9]:
hist_US_4[['Close','Dividends','Volume']]

                Close                                                 \
                 ACWI        ARKK       DGRO         DVY         EMB
Date
2009-05-22  26.431919         NaN        NaN   22.734377   53.393013
2009-05-26  27.007036         NaN        NaN   23.395903   53.472633
2009-05-27  26.556269         NaN        NaN   22.832630   53.609131
2009-05-28  26.905998         NaN        NaN   23.133913   53.580708
2009-05-29  27.434488         NaN        NaN   23.454845   53.290588
...               ...         ...        ...         ...         ...
2021-05-17  98.930000  103.309998  50.759998  122.989998  111.169998
2021-05-18  98.660004  104.790001  50.340000  121.620003  111.160004
2021-05-19  98.199997  102.970001  50.240002  120.639999  110.639999
2021-05-20  99.330002  106.589996  50.580002  120.839996  111.410004
2021-05-21  99.220001  105.839996  50.650002  121.300003  111.190002

                                                                    ...  \
                 ESGU       GOVT         IWN       JPST        PFF  ...
Date                                                                ...
2009-05-22        NaN        NaN   35.446980        NaN  14.644644  ...
2009-05-26        NaN        NaN   37.151073        NaN  14.935893  ...
2009-05-27        NaN        NaN   35.944004        NaN  14.867928  ...
2009-05-28        NaN        NaN   36.078133        NaN  15.120330  ...
2009-05-29        NaN        NaN   36.764496        NaN  15.280526  ...
...               ...        ...         ...        ...        ...  ...
2021-05-17  94.879997  26.290001  166.169998  50.730000  38.279999  ...
2021-05-18  94.070000  26.270000  164.190002  50.755001  38.320000  ...
2021-05-19  93.760002  26.240000  162.479996  50.750000  38.240002  ...
2021-05-20  94.949997  26.309999  162.539993  50.750000  38.509998  ...
2021-05-21  94.889999  26.330000  163.419998  50.750000  38.509998  ...

               Volume                                                 \
                 QUAL      SCHB       SCHP     SDY      SHY      VGK
Date
2009-05-22        NaN       NaN        NaN  149000   654900   100100
2009-05-26        NaN       NaN        NaN  198300   840600   285900
2009-05-27        NaN       NaN        NaN  225900   553300   236300
2009-05-28        NaN       NaN        NaN  200700   728200   240000
2009-05-29        NaN       NaN        NaN  230400   852800   288500
...               ...       ...        ...     ...      ...      ...
2021-05-17   870100.0  423700.0  1778500.0  408800  3861000  6614400
2021-05-18   672300.0  447600.0  1549400.0  385900  3419200  4380000
2021-05-19  1118800.0  725900.0  2125200.0  472700  5213300  7917100
2021-05-20   813200.0  335300.0  1553000.0  702300  4011000  5567100
2021-05-21   642500.0  386700.0  1773300.0  440200  1822400  4322300


                 VLUE       VT      VXF       XLY
Date
2009-05-22        NaN    64400   103400   7362500
2009-05-26        NaN    85800  1622500  11048600
2009-05-27        NaN    49200   112200   7775100
2009-05-28        NaN    31800   171800   5382100
2009-05-29        NaN    36100   182000   4351000
...               ...      ...      ...       ...
2021-05-17  2044600.0  1834700   340700   5222500
2021-05-18  1151300.0  1608100   231100   3878400
2021-05-19  1732000.0  2229100   267800   7060200
2021-05-20   994300.0  1684000   299900   4534000
2021-05-21   553300.0  1424800   249600   3885631

[3021 rows x 60 columns]